body {
    width: 100%;
    height: 20%;
    background: #000;
    overflow: hidden;
}

.star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 200px;
    color: #feda4a;
    font-family: "Pathway Gothic One", sans-serif;
    // font-size: 400%;
    // font-weight: 350;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
    width: 100vw;
}

.crawl {
    position: relative;
    top: 99999px;
    transform-origin: 50% 100%;
    animation: crawl 120s linear;
}

.crawl > .title {
    font-size: 90%;
    text-align: center;
}

.crawl > .title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
}

@keyframes crawl {
    0% {
        top: -100px;
        transform: rotateX(20deg) translateZ(0);
    }
    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}
