<!-- <div class="fade"></div> -->

<section class="star-wars">
    <div class="crawl">
        <div class="title">
            <p>Star Wars Top Trumps</p>
            <h1>An interactive game!</h1>
        </div>

        <p>Thank you taking a minute to play this fun little game!</p>

        <p>You can choose another card if you don't like the one you have at the moment.</p>

        <p>When you're happy with your card, you can take turns selecting an attribute to compare.</p>

        <p>The winner gets points!</p>

        <p>The first to 5 points wins a special prize!</p>
    </div>
</section>