<div class='playing-area'>

    <div class="pyro" *ngIf='showWinner'>
        <div class="before"></div>
        <div class="after"></div>
    </div>

    <mat-grid-list cols="2">
        <mat-grid-tile style='color: red;'>

            <mat-card [hidden]='player1Name'>
                <mat-card-header>
                    <mat-card-title>Player 1</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <form class="player1-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="Ex. Travis" #player1>
                        </mat-form-field>
                    </form>
                    <button mat-raised-button color="accent" (click)='saveP1(player1.value)'>Submit</button>

                </mat-card-content>
            </mat-card>

            <app-searchlist *ngIf='player1search' (select)='foundCharacter($event, 1)'></app-searchlist>

            <app-trumpcard *ngIf='player1Card && !player1search' [playingCard]='player1Card' [playerName]='player1Name'
                (cardChange)='setNewCard($event, 1)' (compare)='compareCards($event, 1)' (search)='searchList($event, 1)'></app-trumpcard>
        </mat-grid-tile>

        <mat-grid-tile>

            <mat-card [hidden]='player2Name'>
                <mat-card-header>
                    <mat-card-title>Player 2</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <form class="player2-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="Ex. Travis" #player2>
                        </mat-form-field>
                    </form>
                    <button mat-raised-button color="accent" (click)='saveP2(player2.value)'>Submit</button>

                </mat-card-content>
            </mat-card>

            <app-searchlist *ngIf='player2search' (select)='foundCharacter($event, 2)'></app-searchlist>

            <app-trumpcard *ngIf='player2Card && !player2search' [playingCard]='player2Card' [playerName]='player2Name'
                (cardChange)='setNewCard($event, 2)' (compare)='compareCards($event, 2)' (search)='searchList($event, 2)'></app-trumpcard>
        </mat-grid-tile>
    </mat-grid-list>
</div>