<mat-card class="example-card">

    <div class="content" role="main" [formGroup]='searchForm'>
        <mat-form-field class="example-form-field">
            <mat-label>Search this page</mat-label>
            <input matInput type="text" #search formControlName='name'>
            <button mat-button matSuffix mat-icon-button aria-label="Clear">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <mat-list *ngIf='people'>
            <mat-list-item *ngFor="let character of people" [value]="character" (click)='selectCharacter(character)'>
                <div mat-line>{{ character.name }}</div>
            </mat-list-item>
        </mat-list>

    </div>

    <mat-toolbar color="primary" class='page-details-footer' *ngIf='pageInformation'>

        <span class="example-spacer"></span>
        <button mat-raised-button [disabled]='pageInformation.prev == null' (click)='prevPage()'>
            <mat-icon>arrow_back_ios</mat-icon>
            Prev
        </button>

        <p class='page-selector'>Current Page: {{ currentPage }}/{{ pageInformation.count }}</p>

        <button mat-raised-button [disabled]='pageInformation.next == null' (click)='nextPage()'>
            Next
            <mat-icon>arrow_forward_ios</mat-icon>
        </button>
        <span class="example-spacer"></span>

    </mat-toolbar>

</mat-card>