.example-card {
    width: 100%;
}

.page-details-footer {
    height: 90px;
    // background: #eee;
    // color: #c2185b;
}

.example-spacer {
    flex: 1 1 auto;
}

.page-selector {
    margin-bottom: 0;
    margin-left: 16px;
    margin-right: 16px;
    color: #424242;
}