.example-card {
    width: 100%;;
}

mat-card-header {
    justify-content: center;
    text-align: center;
}

.section {
    display: table;
}

.label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
}

.trump-label {
    font-weight: bold;
}

.trump-value {
    text-align: end;
}