<mat-card class="example-card" *ngIf='playingCard'>
    <mat-card-header>
        <mat-card-title *ngIf='lockedIn'>Locked in!</mat-card-title>
        <mat-card-title>{{ playingCard.name }}</mat-card-title>
        <mat-card-subtitle>Player: {{ playerName }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="container">
            <div class="row">
                <div class="col trump-label">Height:</div>
                <div class="col trump-value"><p>{{ playingCard.height }}</p></div>
            </div>
            <div class="row">
                <div class="col trump-label">Mass:</div>
                <div class="col trump-value"><p>{{ playingCard.mass }}</p></div>
            </div>
            <div class="row">
                <div class="col trump-label">Total Films:</div>
                <div class="col trump-value"><p>{{ playingCard.films.length }}</p></div>
            </div>
            <div class="row">
                <div class="col trump-label">Total Starships:</div>
                <div class="col trump-value"><p>{{ playingCard.starships.length }}</p></div>
            </div>
            <div class="row">
                <div class="col trump-label">Total Vehicles:</div>
                <div class="col trump-value"><p>{{ playingCard.vehicles.length }}</p></div>
            </div>
        </div>        
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)='compareCards()'>Compare</button>
        <button mat-raised-button color="accent" (click)='newCard()'>New Card</button>
        <button mat-raised-button color="accent" (click)='searchPeople()'>Search people</button>
    </mat-card-actions>
</mat-card>